<ul>
  <h3>Causes probables :</h3>

    <% @diagnostic.alarm.probably_causes.each do |cause| %>
      <li><%= cause.description %></li>
    <% end %>
</ul>
<p><span class="font-weight-bold">Composant :</span> <%= @diagnostic.component.name  %></p>
<div class="card">
  <div class="card-header">
    Problème :
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @diagnostic.problem.description %></p>
    </blockquote>
  </div>
</div>
<p></p>

<ul><% @diagnostic.todo_lists.customer.each do |list|  %>
 <p> À faire par le Client :</p>
  <% list.tasks.each do |task| %>
   <li> <%= task.description  %>
   <%= task.status  %></li>
   <% end %>
  <p></p>
  <% end %>
</ul>
<%= link_to "SAV réussi", root_path, class: "btn btn-success"%>
<%= link_to "Le problème persiste", '#' ,class: "btn btn-danger" %>


