<ul>
  <h3>Causes probables :</h3>

    <% @diagnostic.alarm.probably_causes.each do |cause| %>
      <li><%= cause.description %></li>
    <% end %>
</ul>
<p>Problème : <%= @diagnostic.problem.description %></p>
<p>Composant : <%= @diagnostic.component.name  %></p>

<ul><% @diagnostic.todo_lists.each do |list|  %>
 <p> <%= list.to_do_by  %></p>
  <% list.tasks.each do |task| %>
   <li> <%= task.description  %>
   <%= task.status  %></li>
   <% end %>
  <p></p>
  <% end %>
</ul>
<%= link_to "SAV réussi", root_path, class: "btn btn-success"%>
<%= link_to "Le problème persiste", '#' ,class: "btn btn-danger" %>
