<h1>Diag</h1>
<%=  @displayed_diagnostic%>


<%= simple_form_for @displayed_diagnostic do |f| %>
  <%= f.error_notification  %>
  <%= f.association :diagnostic do |c| %>
      <%=  c.input :alarm, collection: Alarm.all.map { |a| a.error_code.number }%>
      <%=  c.input :leds, as: :check_boxes, collection: Led.not_off.map { |l| "#{l.icon} #{l.color} #{l.status}" }, wrapper: :vertical_collection_inline %>
      <%=  c.input :phase, collection: Phase.where(stove_id: params[:stove_id]).map { |ph| "#{ph.duration / 60} min"} %>
      <%= c.input :stove_id , as: :hidden, value_method: params[:stove_id]%>
  <% end %>

  <%= f.button :submit, "Voir", class: "btn btn-primary" %>
<% end %>
